.navbar {
    margin: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: red;
    padding: 0px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 2em;
}

body {
    font-size: 1em;
}

.equipments {
    width: 210%;
    border-radius: 15px;
    background-color: #E5F6DF;
    padding: 1em;
    margin-bottom: 2sem;
}

.equipment_details {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    gap: 5.3%;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
